<!DOCTYPE html>
<html lang="en">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MFDK6VJ6RN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MFDK6VJ6RN');
</script>
        
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="image" property="og:image" content="https://lizberberena.com/img/cozymole-links-light-preview.png">
    <meta name="description" property="og:description" content="{{ site.description }}">
    <meta name="title" property="og:title" content="{{ site.title }}">
    <meta name="keywords" content="web developer, web designer, front end developer, liz berberena, liz l. berberena, liz lorena berberena">
    <meta name="author" content="{{ site.author_name }}">
    <meta name="twitter" content="{{ site.username }}"> 
    <meta name="github" content="{{ site.username }}">
    <meta property="og:type" content="website"> 
    <meta property="og:url" content="https://lizberberena.com/"> 

    {{ page.meta }}
  
    <title>{{ site.title }} {{ page.title }}</title>
	
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link href="https://lizberberena.com/cssreset.css" rel="stylesheet">   
    <link href="https://lizberberena.com/cozymoles/index.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.favicon }}">

    <script src="https://kit.fontawesome.com/56182aba27.js" crossorigin="anonymous"></script>

</head>
<body>
  

<div class="canvas">
	<div class="links">
	<img src="https://lizberberena.com/img/mole-photo.jpg">

	<h1>cozymole</h1>

	<div class="divider"></div>

	<a id="theme-toggle" class="desktop" onclick="modeSwitcher()"></a>
		
	<a href="https://twitter.com/cozymoles" class="link" target="_blank">Twitter</a>
			
	<a href="https://myanimelist.net/profile/cozymoles" class="link" target="_blank">MyAnimeList</a>
		
	<a href="https://steamcommunity.com/id/cozymoles" class="link" target="_blank">Steam</a>
				
	<a href="https://www.personality-database.com/user/67906" class="link" target="_blank">Personality Database</a>
			
	<a href="https://www.duolingo.com/profile/cozymoles" class="link" target="_blank">Duolingo</a>
		
	<!--<a href="https://cozymole.itch.io" class="link" target="_blank">Itch.io</a>-->
				
	<a href="https://lizberberena.com" class="link">Portfolio</a>
        </div>
</div>
	
<script src="https://lizberberena.com/cozymoles/mode-switcher.js"></script>
	
</body>
</html>
